/* font       */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=RocknRoll+One&display=swap');
/* bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* fontawosam link */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

/* colors

/* 
 
black color     =   #1e272e
dark black  = #000000
light black = #1B1B1B
green color=  #00FF00
Off whitee   =  #FDFDFD
 
white    =  #<i class="bi bi-list"></i>
aqua    = #00d8d6   ==== #29ccc1

 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
     text-decoration: none;
     font-weight: 600;
     transition: 0.5s;
    scroll-behavior:smooth;
    scrollbar-width: thin;
    scrollbar-color: #98ee98 #1B1B1B;
}
::-webkit-scrollbar-track {
    background: #1B1B1B;
}
::-moz-scrollbar-thumb {
    border-radius: 10px; /* Round the thumb corners for Firefox */
}
::-webkit-scrollbar-thumb {
    background-color: #5CFF5C;
    border-radius: 10px;
    
}

a{
    
    color: #f4f4f4;
}
p{
    line-height: 30px;
    font-size: 18px;
}

.preloader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background:linear-gradient(#98ee98  ,#5CFF5C); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader img{
    width: 400px;
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f4f4f4;
}
nav ul{
    display: flex;
    gap: 23px;
}
nav h1{
    font-size: 40px;
    
}
nav i{
    cursor: pointer;
    font-size: 30px;
   display: none;
}
nav li{
    text-transform: capitalize;
    font-size: 19px;
    position: relative;
    overflow: hidden;
    
    
}
nav li:before{
    position: absolute;
    transition: 0.4s;
    height: 2px;
    width: 100%;
    bottom: 0;
    transform: translateX(-130%);
    left: 0;
    background-color: #ffffff;
    content: " ";
}
nav li:hover:before{
    transform: translateX(0);
}
nav button{
    padding: 7px 14px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 23px;
    color:#1B1B1B;
    background-color: #f4f4f4;
  
}
nav button:hover{
    box-shadow: 0 0 20px #5CFF5C, 0 0 40px#5CFF5C;
    transform: scale(0.9);
    
}
.header{
   
   width: 100%;
   position: relative;
   background-color: #1B1B1B;
   box-shadow: 0px 0px 50px #1B1B1B;

  

}
.hero-con
{
    height: 90vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 1;
   
}

.hero{
  
    height: 89vh;
    width: 97%;
    border-top-left-radius:40px ;   
    border-top-right-radius:40px ;
    background:linear-gradient(#98ee98  ,#5CFF5C); 
    display: flex;
    z-index: 5;
   
}

 .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 97%;
    margin-left: 20px;
    background: url(../assets/images/waves-haikei.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    z-index: 1;
    
 }
.hero-content{
    height: 100%;
    width: 60%;
    background: transparent;
    padding: 110px 0 0 60px;
    color: #1B1B1B;
    z-index: 22;
}
.hero-content h1{
    font-size: 65px;
    color: #1B1B1B;
}
.hero-content p{
    color: #1B1B1B;
     width: 80%;
}
.hero-img{
    width: 40%;
    height: 100%;
    background: transparent;
    background-image: url(../assets/images/hero.png);
    background-position: center;
    background-size: 80% 80%;
    background-repeat: no-repeat;   
}

.hire{
    font-size: 18px;
    border: none;
    outline: none;
    padding: 7px 16px;
    color: #f4f4f4;
    background-color: #313131;
    border-radius: 23px;
}
.hire:hover{
    box-shadow: 0 0 20px #5CFF5C;
    transform: scale(0.9);
    
}
.button-con{
    padding: 50px 10px;
}

.contect-btn
{
    font-size: 18px;
    border: 1px solid #313131;
    outline: none;
    padding: 7px 16px;
    color: #313131 ;
    background-color:#f4f4f4;
    border-radius: 23px;
}.contect-btn:hover{
    box-shadow: 0 0 20px #5CFF5C;
    transform: scale(0.9);
    
}


/* header enddddddddddddddddddddd */

/* aboutt startttttttttttttttttttttttttt */
.about{
    width: 100%;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}
.about-contant{
    width: 60%;
    min-height: 100vh;
    padding: 40px 40px;
    
}
.about-img{
   
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.about-img img{
        width: 400px;
        height: 500px;
        filter: drop-shadow(0px 0px 10px gray);
       
} 

.about-contant h1{
    font-size: 60px;
    
}
.about-contant p{
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 30px;
}
.about-contant span{
    font-weight: bold;
}
.about-contant .socil{
      width: 100%;
      padding: 40px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
       border-top: 1px solid  #dbd8d8;
       margin-top: 30px;
       padding-right: 90px;
}
.socil ul{
    display: flex;
  
}
.socil ul li{
    background-color: #f4f4f4;
    height: 40px;
    font-size: 25px;
    width: 40px;
    color: #1B1B1B;
    line-height: 40px;
     text-align: center;
     border-radius: 50%;
     box-shadow: 0 0 5px gray;
    margin-left: 20px;

}
.socil button{
    padding:  4px 15px ;
    border: 1px solid #dbd8d8;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
}
.socil button:hover , .socil li:hover{
    transform: scale(0.9);

}


/* about enddddddddddddddddddddddddddddddddddddd */

/* skils starttttttttttttttttt */
  
.skils{
    padding: 0px 20px 6px 20px;
    display: flex;
    flex-direction: column;
   align-items: center;

}
.skils h1{
    font-size: 60px;
    
}
.skils p{
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    width: 60%;
}
.linked a{
    color: #1B1B1B;
    font-weight: 700;
    text-decoration: underline;
}

.icons-con{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.icon-card{
    height: 130px;
    width: 110px;
   margin: 20px;
}
.icon-card:hover{
    transform: scale(0.9);
}
.icon{
    height: 80%;
    width: 100%;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    color: white;
    font-size: 60px;

}
/* skils endddddddddd */

/* >>>>>>>>>>>>>>  PROJECTS START  <<<<<<<<<<<<<<<<<< */

.project{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 ;
}
.project-con{
    height: 90vh;
    width: 95%;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    

}
.project-card{
    height: 100%;
    width: 400px;
    border: 1px solid #313131;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.479);
    overflow: hidden;
    transform: scale(0.9);
}
.project-img{
    width: 100%;
    height: 55%;
    border-radius: 12px;
    overflow: hidden;
    background:linear-gradient(#98ee98  ,#5CFF5C); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-img img{
    height: 100px;

}
.project-img h1{
    text-align: center;
    width: 100%;
    font-size: 40px;
}
.project-contant{
    
    width: 100%;
    height: 45%;
    padding: 20px 16px;
}
.project-contant h1{
    font-size: 40px;
}
.project-contant p{
    font-size: 18px;
    font-weight: 400;
}
.project-btn{
    width: 100%;
    padding: 12px 0;
}
.project-btn button{

    padding: 9px 12px;
    margin-left: 10px;
    border-radius: 23px;
    border: none;
    color: #f4f4f4;
    background-color: #1B1B1B;
}
.project-head{
    height: 80px;
    width: 100%;
    background: transparent;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.project-head h1{
    font-size: 60px;
    
}

/* >>>>>>>>>>>>>>  PROJECTS ENDDD  <<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>>>>>>>> contact start <<<<<<<<<<<<<<< */

.contact{
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
  

}
.contact-form{
    height: 100%;
    width: 55%;
    padding-left: 70px;
    
}
.contact-image{
    height: 90vh;
    width: 45%;
    background-image: url(../assets/images/contact.png);
    background-position: center;
    background-size: cover;

}
.contact-form h1{
    font-size: 60px;
}
.contact-form form{
    height: 450px;
    width: 500px;
    border-radius: 12px;
    margin-top: 10px;
    padding: 20px 20px;
}
.row{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.row label{
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 7px;
    padding-left: 12px;
}
.row input{
    padding: 8px 12px;
    width: 100%;
    border:1px solid #dbd8d8;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.295);
}
.row textarea{
    padding: 8px 12px;
    width: 100%;
    border:1px solid #dbd8d8;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.295);
    resize: vertical;
    height: 120px;
}
.contact-form button{
    padding:  6px 17px ;
    border: none;
    outline: none;
    background-color: #1B1B1B;
    font-size: 20px;
    color: #f4f4f4;
    border-radius: 23px;
    box-shadow: 0 0 3px #1B1B1B;
}
.contact-form button:hover{
    transform: scale(0.9);
}


/* >>>>>>>>>>>>>>>>>>>>>>>> contact end <<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>>>> Footer Start <<<<<<<<<<<<<,,,,,,, */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer ul{
    display: flex;
    gap: 23px;
    
}
footer p{
    line-height: 60px;
}
footer li{
    color: #000;
    background-color: #f4f4f4;
    width: 40px;
    height: 40px;
    text-align:center;
    border-radius: 50%;
    font-size: 23px;
    display: flex;
    box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.541);
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
}
footer li:hover{
    transform: scale(1);
}

/* >>>>>>>>>>>>>>>>>>> Footer ENd <<<<<<<<<<<<<,,,,,,, */





























@media (max-width:777px) {

    .wave{
        margin-left: 7px;
    }
    nav {
        justify-content: space-between;
        padding: 0 30px;
        /* border-bottom:1px solid #313131 ; */
    }
    nav button{
        display: none;
    }
    nav h1{
        font-size: 40px;
    }
    nav i{
        display: block;
    }
   nav ul{
    position: absolute;
    right: 0px;
    top: 70px;
    display: flex;
    justify-content: center;
    transform: translateY(px); 
    
    width: 100%;
    padding-bottom: 23px;
    overflow: hidden;
    text-align: center;
    padding-top:50px ;
  
   }
.z-in{
    z-index: 22;
   
}
  
  nav li{
    color: white;
    
  }
 
  .show{
    height: 110vh;
  }
  .about{
    display: block;
  }
  .about-contant{
    width: 100%;
    padding-right: 7px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  .about-img{
     width: 100%;
     height: 70vh;
     align-items: center;
     padding-top: 20px;
  }
  .about-img img{
    width: 85%;
    height: 450px;
   
   
  }
  .about-contant .socil{
    padding: 0;
    padding-top: 50px;
    justify-content: space-evenly;
  }
  .socil button{
    transform: scale(0.9);
}
.about-contant .scoal ul{
    gap: 10px;
}
.socil ul li{
      transform: scale(0.9);
      margin-left: 6px;
  }
  .skils h1{
    font-size: 45px;
    text-align: center;
    line-height: 40px;
  }
  .skils p{
    width: 98%;
    font-size: 15px;
    line-height: 25px;

  }
}

@media (max-width:1263px) {
    .hero-content h1{
        font-size: 50px;
    }
    .hero-content p{
 
        width: 100%;
   }
   .skils p{
    width: 90%;
   }
   .contact-form{
   padding-left: 20px;
}

}
@media (max-width:986px) {
    .hero-content h1{
        font-size: 45px;
    }
    .about-img img{
        width: 300px;
        height: 400px;
    }
    .contact-form{
        width: 50%;

    }
    .contact-form input{
        width: 400px;
    }
    .contact-form textarea{
        width: 400px;
    }
    .contact-image{
        width: 50%;
        background-position: bottom;
    }
    .contact{
     padding:0;
     margin:0;
    }
}
@media (max-width:897px) {
    .hero-img{
        display: none;
    }
    .contact-image{
        display: none;
    }
    .contact-form{
        width: 100%;
       
        justify-content: center;
        align-items: center;
       
    }

    .contact-form form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact-form  h1{
        text-align: center;
        font-size: 55px;
    }
    .hero-content{
        width: 100%;
        padding: 110px 30px 0 30px;
    }
    
    .button-con{
        padding: 30px 5px;
    }
   
}
@media (max-width:440px) {
    nav li{
        font-size: 15px;
    }
    nav ul{
        gap: 10px;
    }
    .hero-content{
        
        padding: 90px 0px 0 30px;
    }
    .hero-content h1{
    line-height: 45px;
    font-size: 50px;
    padding-bottom: 34px;
    }
    
    .contact-form form input{
        width: 350px;
    }
    .contact-form form textarea{
        width: 350px;
    }
    .contact-form form button{
        width: 100%;
    }
    .project-card{
        transform: scale(0.9);
    }
}
@media (max-width:395px) {
    .icons-con{
        padding: 20px 0px;
    }
    .icon-card{
        height: 100px;
        width: 90px;
       margin: 10px;
    }
    .icon-card i{
        font-size: 45px;
    }
    .about-contant h1{
        line-height: 50px;
    }
    .contact-form form input{
        width: 300px;
        padding-bottom: 8px;
    }
    .contact-form form textarea{
        width: 300px;
    }
    .project-img {
        height: 55%;

    }
    .project-contant h1{
        font-size: 35px;
    }
    .preloader img{
        width: 200px;
    }
    .contact-form h1{
        font-size: 40px;
    }
}
@media (max-width:600px) {
    .preloader img{
        width: 300px;
    }
    footer p{
        font-size: 15px;
    }
    
}
